/class01-20220606T100858Z-001.zip
/lab02/nbproject/private/
/lab02/build/
/lab02/dist/
/lab03/nbproject/private/
/lab03/build/
/lab04/nbproject/private/
/lab04/build/
/practice/nbproject/private/
/practice/build/
/c05/nbproject/private/
/c05/build/
/lab06/nbproject/private/
/lab06/build/
/lab07/nbproject/private/
/lab07/build/
